# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

include/display/
include/okapi/
include/pros/
firmware/
.gitattributes
.gitignore
client.log
common.mk
LICENSE
Makefile
project.PROS

